body{
	background-color: #64D10B;
	background-image: url(Imagenes/hojas.jpg);
	background-size: cover;
}


.imagen{
	display: block;
    margin: auto;
}

.texto{
	font-size: 20px;
	color: black;
	padding: 10px 10px;
	text-align: ju

}
	
a{
	text-decoration: underline;
	font-size: 20px;
	color: black;
}
@media screen and (max-width: 400px){
	body{background-color: #51B408;
		background-image: url(Imagenes/forest.jpg);
		background-size: cover;
		}
	div{
	background-color: #F2F2F2;
	 width: 100%;
	 height: auto;
	 border: 2px solid green;
	}
	img{
		height:auto;
		max-width: 100%;
	}
	iframe{
		height: auto;
		max-width: 100%;
	}
	
	p{
		font-size: 19px;
		text-align: justify-all;
	}
}

.imagenp{
	font-size: 30px;
	color:  #F2F2F2;
	text-align: center;
	
}
.pie{
	font-size: 18px;
	color: #F2F2F2;
	text-align: center;
	}
.titulo{
	font-size: 80px;
	color: #167C68; 
	text-align: center;
	background-image: url(Imagenes/banner.jpg);
}
iframe{
	display: block;
	margin: auto;
}